@using CarAuction.Common
@using CarAuction.Data.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
    @if (this.SignInManager.IsSignedIn(this.User))
    {
        <div class="nav-item dropdown" style="word-wrap: break-word">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Account</a>
            <div class="dropdown-menu rounded-0 m-0">
                <li class="nav-item">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage Account</a>
                </li>
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    <li class="nav-item">
                        <a class="dropdown-item" asp-area="Administration" asp-controller="Cars" asp-action="Index" title="Admin">Admin</a>
                    </li>
                }
                <li class="nav-item">
                    <a class="dropdown-item" asp-controller="Cars" asp-action="WatchedCars" title="Manage">Watchlist</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@this.Url.Action("Index", "Home", new { area = string.Empty })">
                        <button type="submit" class="dropdown-item">Logout</button>
                    </form>
                </li>
            </div>
        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>