@model AuctionListViewModel
<div class="row">
    @foreach (var auction in Model.Auctions)
    {
        <div class="col-sm-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-center">@auction.LocationName</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Cars in auction: @auction.CarsInAuctionCount</h6>
                    <div>
                        Start date: @auction.StartDate.ToShortDateString()
                    </div>
                    <div class="justify-content-center">
                        End date: @auction.EndDate.ToShortDateString()
                    </div>
                    <a href="#" class="col-lg-12 mt-2 btn btn-primary card-link">Cars</a>
                </div>
            </div>
        </div>
    }
</div>