@model CarAuction.Web.ViewModels.Cars.CarsListViewModel

@section Styles
{
    <link href="~/lib/nouislider/distribute/nouislider.min.css" rel="stylesheet" asp-append-version="true">
}

<!--Cars Start -->
<div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
        <h1 class="display-4 text-uppercase text-center mb-5">Find Your Next Car</h1>
        <div class="row">
            @* Car search 2 *@
            <partial name="SearchBar" model="@Model.SearchModel"/>
            <partial name="DefaultCar" model="@Model"/>
        </div>
    </div>
</div>
<!-- Rent A Car End -->
<!-- Pagination -->
<partial name="Pagination"/>
<!-- Pagination End -->
<div class="container-fluid">
    <vc:cars></vc:cars>
</div>
<form method="post" id="antiForgeryForm"></form>

@section Scripts
{
    <script type="text/javascript" src="~/lib/nouislider/distribute/nouislider.min.js"></script>
    <script src="~/js/dynamicModelLoader.js" asp-append-version="true"></script>
}