@model CarAuction.Web.ViewModels.Cars.RandomCarsViewModel


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
     <partial name="DefaultCar" model="@Model"/>
</div>
</body>
</html>