@model CarInputModel 
@{
    this.ViewData["Title"] = "Create new listing";
}

<form method="post" class="col-lg-6 offset-lg-3">
    <h1>@this.ViewData["Title"]</h1>
    <div class="form-group">
        <div class="form-group">
            <label asp-for="ManufacturerId"></label>
            <select asp-for="ManufacturerId" class="form-control" asp-items="Model.Manufacturers"></select>
        </div>
        <div class="form-group">
            <label asp-for="ModelId"></label>
            <select asp-for="ModelId" class="form-control" asp-items="Model.Models"></select>
        </div>
        <div class="form-group">
            <label asp-for="EngineId"></label>
            <select asp-for="EngineId" class="form-control" asp-items="Model.Engines"></select>
        </div>
        <div class="form-group">
            <label asp-for="TransmissionId"></label>
            <select asp-for="TransmissionId" class="form-control" asp-items="Model.Transmissions"></select>
        </div>
        <label asp-for="DoorsCount"></label>
        <input asp-for="DoorsCount" class="form-control"/>
        <span asp-validation-for="DoorsCount" class="text-danger"></span>
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control"/>
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary"/>
</form>