@model CarInputModel 
@{
    this.ViewData["Title"] = "Create new listing";
}

<form method="post" class="col-lg-6 offset-lg-3">
    <h1>@this.ViewData["Title"]</h1>
    <div class="form-group">

        <div class="form-group">
            <label asp-for="ManufacturerId"></label>
            <select asp-for="ManufacturerId" class="form-control" asp-items="Model.Manufacturers"></select>
        </div>

        <div class="form-group">
            <label asp-for="ModelId"></label>
            <select asp-for="ModelId" class="form-control" asp-items="Model.Models"></select>
        </div>

        <div class="form-group">
            <label asp-for="EngineId"></label>
            <select asp-for="EngineId" class="form-control" asp-items="Model.Engines"></select>
        </div>

        <div class="form-group">
            <label asp-for="TransmissionType"></label>
            <select asp-for="TransmissionType" class="form-control" asp-items="Model.Transmissions"></select>
        </div>

        <div class="form-group">
            <label asp-for="DrivetrainType"></label>
            <select asp-for="DrivetrainType" class="form-control" asp-items="Model.Drivetrains"></select>
        </div>

        <div class="form-group">
            <label asp-for="FuelType"></label>
            <select asp-for="FuelType" class="form-control" asp-items="Model.Fuels"></select>
        </div>

        <label asp-for="HorsePower"></label>
        <input asp-for="HorsePower" class="form-control"/>
        <span asp-validation-for="HorsePower" class="text-danger"></span>


        <label asp-for="DoorsCount"></label>
        <input asp-for="DoorsCount" class="form-control"/>
        <span asp-validation-for="DoorsCount" class="text-danger"></span>

        <label asp-for="StartPrice"></label>
        <input asp-for="StartPrice" class="form-control" value="1500"/>
        <span asp-validation-for="StartPrice" class="text-danger"></span>

        <label asp-for="BuyNowPrice"></label>
        <input asp-for="BuyNowPrice" class="form-control" value="1500"/>
        <span asp-validation-for="BuyNowPrice" class="text-danger"></span>

        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control"/>
        <span asp-validation-for="Year" class="text-danger"></span>

        <label asp-for="Milleage"></label>
        <input asp-for="Milleage" class="form-control"/>
        <span asp-validation-for="Milleage" class="text-danger"></span>

        <label asp-for="Color"></label>
        <input asp-for="Color" class="form-control"/>
        <span asp-validation-for="Color" class="text-danger"></span>

        @* Watch video to be able to add multiple images at once *@
        <div class="form-group">
            <label asp-for="Images" class="form-label"></label>
            <input asp-for="Images" class="form-control form-control-lg input transparent-input" multiple/>
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>


        <label asp-for="IsRunning"></label>
        <input type="radio" value="true" asp-for="IsRunning" checked class="form-control"/>
        <input type="radio" value="false" asp-for="IsRunning" class="form-control"/>
        <span asp-validation-for="IsRunning" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary"/>
</form>