<html
    <section class="w3ls-reg">
			<form method="post" id="form" action="#">
				<div class="row">
					<div class="agile_full field">
						<label for="labelName">Model Name <span>*</span></label>
						<input type="text" id="labelName" class="form-control" data-field="modelName">
						<div class="valid-message"></div>
					</div>
				</div>
				<div class="row">
					<div class="agile_full field">
						<label for="labelSurname">Color<span>*</span></label>
						<input type="text" id="labelSurname" class="form-control" data-field="color">
						<div class="valid-message"></div>
					</div>
				</div>
				<div class="row">
					<div class="agile_full field">
						<label for="labelEmail">Mileage<span>*</span></label>
						<input type="text" id="labelEmail" class="form-control" data-field="mileage">
						<div class="valid-message"></div>
					</div>
				</div>
				<div class="row">
					<div class="agile_full field">
						<label for="labelPhone">Phone number <span>*</span></label>
						<input type="text" id="labelPhone" class="form-control" data-field="phone">
						<div class="valid-message"></div>
					</div>
				</div>
				<div class="row">
					<div class="agile_cont field-street field">
						<label for="labelStreet">Street</label>
						<input type="text" id="labelStreet" class="form-control" data-field="street">
						<div class="valid-message"></div>
					</div>
					<div class="wthree_sec field-homenumber field">
						<label for="labelHomeNumber">Home number</label>
						<input type="text" id="labelHomeNumber" class="form-control" data-field="homenumber">
						<div class="valid-message"></div>
					</div>
				</div>
				<div class="row between_agile">
					<div class="agile_cont field-city field">
						<label for="labelCity">City</label>
						<input type="text" id="labelCity" class="form-control" data-field="city">
						<div class="valid-message"></div>
					</div>
					<div class="wthree_sec left-wthree field">
						<label for="labelPostCode">Postal code</label>
						<input type="text" id="labelPostCode" class="form-control" data-field="postcode">
						<div class="valid-message"></div>
					</div>
				</div>
				<div class="row">
					<div class="agile_full field">
						<button class="" type="submit">Submit</button>
					</div>
				</div>
			</form>
		</section>></html>